mtgcard.dtd

<!ENTITY % mana 'W|U|B|R|G|c|X|Y|Z|WU|WB|UB|UR|BR|BG|RG|RW|GW|GU|W2|U2|B2|R2|G2|WP|UP|BP|RP|GP|S'>
<!ENTITY % symbols '%mana;|T|Q|chaos|PW'>
<!ENTITY % text '(#PCDATA|%symbols;|i)*'>

<!ELEMENT mtgcard (name, cost?, supertype*, type+, subtype*, text*, level*, ((pow, tough)|loyalty|(hand, life))?, indicator?, printing*, ruling*>

<!ELEMENT name (#PCDATA|i)*>

<!ELEMENT cost (%mana;)+>
<!ATTLIST cost cmc CDATA #IMPLIED>

<!ELEMENT supertype (#PCDATA)>
<!ELEMENT type (#PCDATA)>
<!ELEMENT subtype (#PCDATA)>
<!ATTLIST subtype type CDATA #IMPLIED>

<!ELEMENT text %text;> <!-- One line/paragraph of rules text -->

<!ELEMENT level (text*, pow, tough)>
<!ATTLIST level min CDATA #REQUIRED max CDATA #IMPLIED>

<!ELEMENT pow (#PCDATA)>
<!ELEMENT tough (#PCDATA)>
<!ELEMENT loyalty (#PCDATA)>
<!ELEMENT hand (#PCDATA)>
<!ELEMENT life (#PCDATA)>

<!ELEMENT indicator (#PCDATA)>  <!-- color indicator -->

<!ELEMENT printing (set, rarity?, date?, number?, artist, multiverseid?, flavor?, watermark?, notes?)>
<!ELEMENT set (#PCDATA)>
<!ELEMENT rarity (#PCDATA)>
<!ELEMENT date (#PCDATA)>
<!ELEMENT number (#PCDATA)>
<!ELEMENT artist (#PCDATA)>
<!ELEMENT multiverseid (#PCDATA)>
<!ELEMENT flavor %text;>
<!ELEMENT watermark (#PCDATA)>
<!ELEMENT notes %text;>

<!ELEMENT ruling %text;>
<!ATTLIST ruling date CDATA #IMPLIED>

<!ELEMENT i %text;>  <!-- italicized text -->

<!ELEMENT W EMPTY>
<!ELEMENT U EMPTY>
<!ELEMENT B EMPTY>
<!ELEMENT R EMPTY>
<!ELEMENT G EMPTY>

<!ELEMENT c (#PCDATA)>  <!-- colorless mana; contents are the amount as an int -->

<!ELEMENT X EMPTY>
<!ELEMENT Y EMPTY>
<!ELEMENT Z EMPTY>

<!ELEMENT WU EMPTY>
<!ELEMENT WB EMPTY>
<!ELEMENT UB EMPTY>
<!ELEMENT UR EMPTY>
<!ELEMENT BR EMPTY>
<!ELEMENT BG EMPTY>
<!ELEMENT RG EMPTY>
<!ELEMENT RW EMPTY>
<!ELEMENT GW EMPTY>
<!ELEMENT GU EMPTY>

<!ELEMENT W2 EMPTY>  <!-- Naming an element "2W" isn't an option. -->
<!ELEMENT U2 EMPTY>
<!ELEMENT B2 EMPTY>
<!ELEMENT R2 EMPTY>
<!ELEMENT G2 EMPTY>

<!ELEMENT WP EMPTY>
<!ELEMENT UP EMPTY>
<!ELEMENT BP EMPTY>
<!ELEMENT RP EMPTY>
<!ELEMENT GP EMPTY>

<!ELEMENT S EMPTY>

<!ELEMENT T EMPTY>  <!-- tap symbol -->
<!ELEMENT Q EMPTY>  <!-- untap symbol -->
<!ELEMENT chaos EMPTY>
<!ELEMENT PW EMPTY>  <!-- planeswalker symbol -->
